<!DOCTYPE html>
<html>
  <head>
    <script data-main="js/importTest" type="text/javascript" src="/external/require.js"></script>
  </head>
  <body>
    <label style="clear: left; display: block" id="dbg">nope</label>
  </body>
</html>
